
<footer>
    <div id='footer'>
        <div class="line">
            <span></span>
            <div class="author">
                
            </div>
        </div>
        <section class="info">
            <p>
                "learn FE"
                <br>
                "因上努力，果上随缘"
            </p>
        </section>
        <div class="social-link">
            <a href="https://github.com/LDQ-first/pure-node-notebook" traget="_blank" title="github">Github</a>
            <!--<a href="" traget="_blank" title="知乎">知乎</a>--> 
        </div>
    </div>
</footer>

</body>